/* GLOBAL FONTS */
@font-face {
    font-family: 'LEIXO';
    src: url('fonts/LEIXO.ttf') format('truetype');
}
@font-face {
    font-family: 'NeueMachina-Bold';
    src: url('fonts/NeueMachina-Bold.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'NeueMachina-Bold', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.hidden { display: none !important; }

/* Global button reset */
button {
    cursor: pointer;
    border: none;
    background: none;
}
